/*chat window, chat bubbles*/

.message-bubble-row {
    display: flex;
    margin: 0.5rem 0;
}

    .message-bubble-row.client {
        justify-content: flex-end;
    }

    .message-bubble-row.agent {
        justify-content: flex-start;
    }

.message-bubble {
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 20px;
    max-width: 70%;
    font-size: 1.1rem;
    word-break: break-word;
}

    .message-bubble.client {
        background: #c0f2dc;
        color: #273733;
        border-bottom-right-radius: 4px;
    }

    .message-bubble.agent {
        background: #f4f4f4;
        color: #222;
        border-bottom-left-radius: 4px;
    }